<main>
  <div class="container" style="margin-top: 70px;">
    DEMO
  </div>
  <div id="slide">
    <ul>
      <li>
        <div  class="image-letter" style="background: #eee;">
          <p style="position: absolute; left: 250px; top: 100px; height:300px; width:500px;">
            っっっっっｈ
          </p>
        </div>
      </li>
      <li>
        <div  class="image-letter" style="background: url(http://www.asahicom.jp/articles/images/AS20150412001447_comm.jpg)  center center no-repeat;"">
        </div>
      </li>
    </ul>
  </div>
</main>
